#!/usr/bin/env bash

set -e

if ! command -v uv &> /dev/null
then
    echo "Error: 'uv' is not installed or not in PATH. Please install 'uv' before proceeding."
    return 1
fi

if [ -e .venv/bin/activate ]
then
    source .venv/bin/activate
else
    python3 -m venv .venv
    source .venv/bin/activate
    # Install dependencies with `uv`, including dev dependencies.
    uv sync --extra dev
fi
